#conteinerMV{
    width: 100%;
     height: 100%;
     min-height: 400px; 
     max-height:1500px;
      min-width: 500px;
      max-height: 1800px;
      background-color: gray;
      border-radius: 3px;
}