<div class="col-md-12">
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="Row">
        <div class= "col-md-4">
            <button class="btn btn-info" (click)="ZoomIn()">
              <span class="glyphicon glyphicon-zoom-in"></span>
            </button>
            <button class="btn btn-info" (click)="ZoomOut()">
                <span class="glyphicon glyphicon-zoom-out"></span>
            </button>
            <button class="btn btn-info" (click)="rotacionMas()">
              <span class="glyphicon glyphicon-menu-down"></span>
            </button>
            <button class="btn btn-info" (click)="rotacionMenos()">
              <span class="glyphicon glyphicon-menu-up"> </span>
            </button>              
        </div>        
      </div>
    </div>
  </div>
  <div class="row">


<div class="col-md-12" >       
  <section id="conteinerMV">
    <canvas class="border-primary" id="VisorFabric" class="col-md-12"
     mouseWheel (mouseWheelUp)="mouseWheelUpFunc(event)" (mouseWheelDown)="mouseWheelDownFunc(event)" >
    </canvas>
  </section> 
</div>

  </div>
</div>